.services{
    margin-top:90px;
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    .service-heading{
        display:flex;
        gap:20px;
        color:#DDFF00;
        align-items: center;
        font-family: Arial, sans-serif;
        font-size: 25px;
        font-weight: 500;
    }
    .service-body{
        display: flex;
        flex-direction: column;
        gap:30px;
        .service-body-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            h6{
                margin:0px;
                color:whitesmoke;
                font-size: 30px;
            }
        }
       
    }
}
.Card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:50px;
    margin-bottom:50px;
}
