.intro{
    margin-top:100px;
    display:flex;
    gap:20px;
    flex-direction: column;
   align-items: center;
    .heading-intro{
        color:#DDFF00;
        display:flex;
        align-items: center;
        gap:15px;
        font-weight: 500;
        p{
            font-weight: 500;
            font-size: 20px;
        }
    }
    .intro-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
            font-size: 35px;
            color:white;
        }
    }
}