.Card{
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 400px; 
  height: 400px;
  margin: 0px auto;
  border: 1px solid #ddd;
  border-radius: 50px;
  box-sizing: border-box;
    background-color: #151515;
    overflow: hidden;
}
.my-image{

   height:200px;
   width:200px;
   border-radius: 50px;
   object-fit:cover;
   object-position: center;
}